body {
    background-color: mediumpurple;
    font-family: 'Times New Roman', Times, serif;
}

#container {
display: flex;

}

.cartao {
        margin: 1rem 1rem;
        background-color: lightpink;
        height: 13em;
        flex-grow: 1;
        flex-basis: calc(33% - 6rem);
    }

    .cartao__conteudo {
        text-align: center;
        background-color: mistyrose;
        height: 100%;

    }

    .cartao__conteudo h3 {
        background-color: blueviolet;
        position: absolute;
        margin: 0.6rem;
        border-radius: 0.4rem;
        font-size: 1vw;
    }


footer {
    background-color: hotpink;
    color: rgb(0, 0, 0);
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    text-align: center;
    font-size: 0.7rem;
    margin-top: 0.5rem;
}